.footer-logo{
    display: inline-block;
 margin-bottom: 20px;
    text-decoration: none;


    color: var(--secondary-text-color);

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: 0.78px;
}

.footer-logo__span{
    color: var(--accent-color);
}