.logo {
    margin-right: 93px;
    margin-left: auto;
    text-decoration: none;


    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: 0.78px;
    color: var(--basic-text-color);

}
.span-logo{color:var(--accent-color)}